 @font-face {
  font-family: clearSans;
  src: url(ClearSans-Regular.ttf);
}

body {
  font-family: clearSans;
}

.h1span {
 font-size: 32px;
 height: 64px;
 line-height: 64px;
 text-align: start;
  padding-left: 32px;
}

span,p {
  text-align: center;
  display: block;
  vertical-align: top;
  color: #4D4D4D;
  margin: auto;
  padding: 0;
}

img {
  margin: auto;
  display: block;
  max-width: 90%;
}

.grid1v2r {
  display: !important grid;
  grid-column: 2;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}


.grid2v1r {
  display: !important grid;
  grid-row: 1 / 2;
  grid-column: 1;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;

}

.grid-container {
  grid-gap: 0;
  height: 128px;
  display: grid;
  grid-template-rows: 64px 64px;
 
}

button, input {
  margin: auto;
  display: block;
  background-color: #4D4D4D;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

button:hover, input:hover {
  background-color: #0D0D0D; 
}

